.formacao-info h1,
h2 {
  margin-bottom: 1.5rem;
}

.formacao-info p span {
  font-size: 0.675rem;
}

.formacao-cursoExtras h2 {
  margin-top: 2.5rem;
}

.formacao-certificados {
  display: flex;
  flex: 1;
  gap: 1.5rem;
}

.formacao-certificados-itens img {
  margin-bottom: 0.75rem;
}

.formacao-certificados-itens span {
  font-size: 0.75rem;
  font-weight: 600;
}
